@import "node_modules/normalize-scss/sass/normalize";
@import 'swiper/scss';

@import "base/mixins";
@import "base/variables";
@import "base/fonts";

@import "blocks/header";
@import "blocks/footer";
@import "blocks/link-btns";

@import "section/hero";
@import "section/program";
@import "section/nutritions";
@import "section/pricing";
@import "section/about";
@import "section/join";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--bg-main);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.fixed {
    overflow-y: hidden;
}