.pricing {
    position: relative;
    padding: clamp(2.5rem, 1.429rem + 5.36vw, 6.25rem) 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #09203F 0%, #161D2F 100%);
        z-index: var(--index-elem-1);
    }
    
    &__title {
        position: relative;

        text-align: center;
        font-size: clamp(0.688rem, 0.634rem + 0.27vw, 0.875rem);
        font-weight: 400;

        color: var(--text-second);
        z-index: var(--index-elem-2);
    }

    &__subtitle {
        
        position: relative;
        margin: clamp(0rem, -0.179rem + 0.89vw, 0.625rem) auto 0 auto;
        max-width: 490px;

        text-align: center;
        font-size: clamp(1.375rem, 1.054rem + 1.61vw, 2.5rem);
        font-weight: 600;
        line-height: 150%;
        text-transform: capitalize;

        color: var(--text-second);
        z-index: var(--index-elem-2);
    }

    &__wrapper {
        display: flex;
        position: relative;

        margin: 30px 0 0 0;

        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        z-index: var(--index-elem-2);
    }

    &__box {
        display: flex;
        padding: clamp(0.938rem, 0.67rem + 1.34vw, 1.875rem) clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);

        max-width: 350px;
        height: clamp(35.625rem, 33.661rem + 9.82vw, 42.5rem);

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        border-radius: 35px;
        border: 1px solid var(--text-second);

        box-shadow: 0px 16px 35px 0px rgba(112, 144, 176, 0.20);
        background: var(--bg-main);
    }

    &__box-title {
        text-align: center;

        font-size: clamp(1.5rem, 1.393rem + 0.54vw, 1.875rem);
        font-weight: 600;

        color: var(--text-main);
    }

    &__box-img {
        margin: 10px 0 0 0;

        width: 190px;
        height: 120px;
        border-radius: 8px;
    }

    &__box-name {
        margin: 10px 0 0 0;

        text-align: center;

        font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
        font-weight: 400;
        line-height: 150%;

        color: var(--text-main);
    }

    &__box-list {
        display: flex;
        
        margin: 10px 0 0 0;
        
        flex-direction: column;
        gap: 10px;

    }

    &__box-point {
        display: flex;
        gap: 10px;
        font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
        font-weight: 300;

        color: var(--text-main);

        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background: url("../icons/yes.svg") no-repeat;
        }
    }

    &__box-price {
        font-size: clamp(1.25rem, 1.036rem + 1.07vw, 2rem);
        font-weight: 600;
        line-height: 150%;

        color: var(--text-main);

        span {
            font-size: 20px;
            font-weight: 300;
            line-height: 150%;

            color: var(--text-main);
        }
    }

    &__box-btn {
        margin: clamp(0.938rem, 0.67rem + 1.34vw, 1.875rem) auto 0 auto;
    }
}

@media(min-width: 1128px) {
    .pricing {
        &:before {
            height: 50%;
        }
    }
}